<section>
    <header>
        <nav class="navbar  p-3 shadow-sm navbar-expand-lg navbar-white bg-white">
            <a class="navbar-brand text-center font-italic text-dark " href="http://localhost:8000/api/students"><u><strong>STUDENT </strong>API</u></a>
           
        </nav>
    </header>
</section>